.about-center{
    display: flex;
    justify-content: center;
}
img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.about{
    text-align: center;
    width: 500px;
    margin-left: 10px;
    background-color: springgreen;
    padding: 10px;
    border-radius: 10px;

}
.about-section{
    margin: 0 20px;
    text-align: center;
    padding: 10px;
}
.btn-container .active{
    background-color: yellow;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.content{
    display: none;
    width: auto;
    margin: 0 auto;
}
.about-content .active{
    display: block;
}